.singleProductContainer{
    width: 80%;
    margin: 3rem auto;
}

.singleProductImage{
    text-align: center;
    margin-bottom: 1rem;
}
.singleProductImage img{
    width: 80%;
    border-radius: 5px;
}
.singleProductImage h1{
    margin-bottom: 2rem;
    width: 80%;
    margin: 1.5rem auto;
}

.accordion-collapse{
    background: none !important;
}

@media (max-width: 992px){
    .singleProductsTitleContainer{
        padding-left: 0 !important;
        text-align: center;
        height: 100%;
    }
    .singleProductsTitleContainer div{
        width: 100%;
        
    }
    .singleProductsTitleContainer h1{
        font-size: 55px;
    }
}

@media (max-width: 700px){
    .singleProductContainer{
        width: 90%;
    }
}

@media (max-width: 550px){
    .singleProductsTitleContainer h1{
        font-size: 45px;
    }
    .singleProductImage img{
        width: 90%;
    }
    .accordion-collapse {
        padding: 0px !important;
    }
    .table tr{
        display: flex;
        flex-direction: column;
    }
    .singleProductImage h1{
        width: 100%;
    }
}

@media (max-width: 450px){
    .table tr td{
        text-align: center !important;
    }
}

@media (max-width: 400px){
    .accordion-body{
        padding: 1rem 0;
    }
}