.GeneralBanner{
    overflow: hidden !important;
    background: url('../../assets/Главная/ab-min.jpg') center / cover ;
    width: 100%;
    height: 100vh;
    position: relative;
}
.GeneralBanner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}

.bannerCenterContent{
    width: 95%;
    z-index: 4;
    margin-top: 100px !important;
    position: relative;
    margin:  auto;
    height: 80%;
    display: flex ;
    align-items:center;

}

.bannerText h1 {
    color: white;
    font-size:50px !important;
    text-transform: uppercase;
    
}
.firstComp{
    margin-top: 50px;
    margin-left: 50px;
    border-left: 5px solid white;
    padding-left: 20px;
}
.firstComp h1{
    color:  #03e9f4;
}

.btns{
    margin-left: 50px;
    margin-top: 50px;
}
.btns a{
    color: white;
    border:1px solid white;
    padding: 20px 100px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}
.btns a:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}










/* ТРИ СКЕЙЛ БЛОКА */









.inlineBanner{
    display: flex;
}


.rightBanner{
    width: 100% !important;
    overflow: hidden !important;
}

.oneImg, .twoImg, .threeImg{
    height: 400px !important;
    padding: 2rem !important;
}

.oneImg h4, .twoImg h4, .threeImg h4{
    font-size: 45px !important;
}

.oneImg{
    text-align: center !important;
}
.oneImg:hover div{
    margin-left: 0px !important;
    margin-top: 30px !important;
}

.threeImg{
    text-align: right !important;
}

.threeImg:hover div{
    margin-right: 20px !important;
}



.about{
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}
.aboutUsMain{
    width: 100%;
    padding: 4rem 0;
    color: #fff;
    position: relative;
    background: url('../../assets/Главная/fourBlock.jpg') center / cover fixed;
    transition: 1s;
}
.abinline{
    display: flex;

}
.aboutUsMain::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}

.aboutUsMain:hover{
    transform: scale(1.1);
}

.aboutUsMain p, .aboutUsMain div{
    position: relative;
    z-index: 2;
}
.abinline{
    display: flex;
    align-items: center;
}
.abinline .bl{
    margin: 0 30px;
}
.aboutUsMain .title{
    width:50%;
    text-align: center;
}
.aboutUsMain .righ{
    width: 50%;
}
.righ a{
    padding: 30px 100px !important;
}
.aboutUsMain .title h1{
    font-size: 40px !important;
    margin-bottom: 1rem;
}
.aboutUsMain p{
    width: 80%;
    margin: 0 auto;
    font-size: 1.3rem;
}

.aboutUsMain a{
    padding: 20px 70px;
    text-decoration: none;
    background: none;
    border: 1px solid #fff;
    color: white;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    transition: .3s;
}

.aboutUsMain a:hover{
    color: #000;
    background-color: #fff;
}


.rightBanner{
    width: 70%;
    overflow: hidden;
}
.flexBlock{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.flexBlock a:hover{
    background-color: white;
    transition: 0.5s;
    color: black;
    border-color: white;
}
.flexBlock a{
    padding: 10px 20px;
    text-decoration: none;
    border:1px solid 
    white;
    color: white;
    transition: 0.5s;
}


/* one */



.one{
    overflow: hidden;
    width: 100%;
}
.oneImg{
    background: url('../../assets/Главная/OneBlock.jpg') center / cover;
    transition: 1s;
    width: 100%;
    height: 500px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 20px;
    text-transform: uppercase;
    position: relative;
}
.oneImg div, .twoImg div, .threeImg div{
    position: relative;
    z-index: 5;
}

.one div{
    transition: 1s;
}
.oneImg:hover div{
    margin-left: 70px;
    transition: .5s;
   

}
.oneImg:hover{
    transform: scale(1.1);
    transition: 1s;
}

.oneImg::before, .twoImg::before, .threeImg::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.3);
}

.oneImg h4, .twoImg h4, .threeImg h4{
    text-shadow: 0px 0px 10px rgba(0,0,0,0.9) !important;
    margin-bottom:30px;
}

.one button{
    padding: 5px 20px;
    background: none;
    border-color: white;
    color: white;
    margin-top: 10px;
}

/* two */


.two{
    overflow: hidden;
    width: 50%;
}
.twoImg{
    background: url('../../assets/Главная/TwoBlock.jpg') center / cover;
    width: 100%;
    height: 500px !important;
    display: flex;
    flex-direction: column;
    transition: 1s;
    justify-content: center;
    color: white;
    padding-left: 20px;
    text-transform: uppercase;
    position: relative;
}

.twoImg:hover{
    transform: scale(1.1);
    transition: .5s;
    
}
.two div{
    transition: 1s;
}
.twoImg:hover div{
    margin-left: 40px;
    transition: 1s;

}
.two button{
    padding: 5px 20px;
    background: none;
    border-color: white;
    color: white;
    margin-top: 10px;
}

/* three */



.three{
    overflow: hidden;
    width: 50%;
}
.threeImg{
    background: url('../../assets/Главная/ThreeBlock.jpg') center / cover;
    width: 100%;
    height: 500px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 20px;
    transition:1s;
    text-transform: uppercase;
    position: relative;

}

.threeImg:hover{
    transform: scale(1.1);
    transition: .5s; 
}


.three button{
    padding: 5px 20px;
    background: none;
    border-color: white;
    color: white;
    margin-top: 10px;
}


.three div{
    transition: 1s;
}
.threeImg:hover div{
    margin-left: 30px;
    transition:1s;
}










/* Оборудование */




.imgbox .img{
    overflow: hidden;
    border-radius: 10px;
    


}

.imgbox .img img{
    transition: 1s  ;
}
.imgbox .img img:hover{
    transform: scale(1.1);
    transition: 1s;
}
.oborud h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

.mashCenter{
    width: 90%;
    margin:  auto;
    position: relative;
    margin-top: 50px;
}
.mashInline{
    display: flex;
    justify-content: center;
}
.mashInline .imgbox{
    margin: 0 20px;
    text-align: center;

}
.mashInline .imgbox h1{
    font-size: 25px;
    margin-bottom: 10px;
}
.imgbox{
    width:400px;
    height: 300px;

}

.imgbox .img img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
}












/* NEWS */





.news{
    width: 90%;
    margin:  auto;
    margin-top: 100px;
}
.generalNew{
    display: flex;
    justify-content: space-between;
}

.generalNew{
    border-left: 5px solid #03e9f4;
    padding-left: 10px;
}
.generalNew a{
    color: black;
    text-decoration: none;
}
.centerNew{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.inlineNews{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.inlineNews .cards{
    margin: 20px 20px;
}
.cards{
    box-shadow: 0 5px 20px gainsboro;
    width: 350px;
    height: 500px;
    position: relative;
    transition: 0.5s;
}
.cards:hover{
    border-bottom: 3px solid #03e9f4;
    transform: scale(1.1);
    transition: 0.5s;
}
.cards .imgcard img{
    width: 100%;
}
.cards-body{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.cards-body p:nth-child(1){
    color: grey;
}
.cards-body p:nth-child(2){
    font-size: 20px;
}
.cards-body .bt{
    margin-top: 30px;
}
.cards-body a{
    margin: 20px 0 !important;
    padding: 10px 20px;
    color:black;
    text-decoration: none;
    background-color:  #03e9f4;
    border-radius:10px;
}
.cards-body a:hover{
    color: white;
}
.bt{
    text-align: right;
}














/* Media */
/* BANNER */



@media screen and  (max-width:2560px) {
    .bannerCenterContent{
        width: 80%;
        z-index: 4;
        position: relative;
        margin:  auto;
        height: 80%;
        display: flex ;
        align-items:center; 

    }   
}

@media (max-width:1561px){
    .bannerCenterContent{
        width: 90%;
        z-index: 4;
        position: relative;
        margin:  auto;
        height: 80%;
        display: flex ;
        align-items:center; 

    }  
    .bannerText h1{
        font-size: 40px !important;
    }
}

@media (max-width:1451px){
    .bannerCenterContent{
        width: 90%;
        z-index: 4;
        position: relative;
        margin:  auto;
        height: 80%;
        display: flex ;
        align-items:center; 

    }   
}

@media (max-width:1387px){
    .bannerCenterContent{
        width: 95%;
        z-index: 4;
        position: relative;
        margin:  auto;
        height: 80%;
        display: flex ;
        align-items:center; 

    }   
}

@media (max-width:1315px){
    .bannerText h1{
        font-size: 40px !important;
    }
}



@media (max-width:1289px){
    .bannerCenterContent{
        width: 95%;
        z-index: 4;
        position: relative;
        margin:  auto;
        height: 80%;
        display: flex ;
        align-items:center; 

    }   
    .bannerText h1{
        font-size: 40px !important;
    }
}

@media (max-width:1250px){
    .bannerCenterContent{
        width: 95%;
        z-index: 4;
        position: relative;
        margin:  auto;
        height: 80%;
        display: flex ;
        align-items:center; 

    }   
}


@media (max-width:1222px){

    .bannerCenterContent{
        width: 90%;
        z-index: 4;
        position: relative;
        margin:  auto;
        height: 80%;
        display: flex ;
        align-items:center;

    }
    .bannerText h1{
        font-size: 40px !important;
    }

    .btns a{
        color: white;
        border:1px solid white;
        padding: 10px 40px;
        text-decoration: none;
        font-size: 20px;
        transition: 0.5s;
    }
}


@media (max-width:1126px){
    .bannerCenterContent{
        width: 95%;
        z-index: 4;
        position: relative;
        margin:  auto;
        height: 80%;
        display: flex ;
        align-items:center;

    }
    .bannerText h1{
        font-size: 38px !important;
    }
}

@media (max-width:1068px){
    .bannerText h1{
        font-size: 30px !important;
    }
}


@media (max-width:807px){
    .bannerText h1{
        font-size: 25px !important;
    }
}



@media (max-width:854px){
    .bannerCenterContent{
        width: 90%;
        z-index: 4;
        position: relative;
        margin:  auto;
        height: 80%;
        display: flex ;
        align-items:center;
        
    }
    .bannerText h1{
        font-size: 20px !important;
    }

    .btns a{
        color: white;
        border:1px solid white;
        padding: 10px 30px;
        text-decoration: none;
        font-size: 18px;
        transition: 0.5s;
    }
}

@media (max-width:565px){
    .bannerText h1{
        font-size: 36px !important;
    }
    .firstComp h1{
        font-size: 17px !important;
    }

    .btns a{
        color: white;
        border:1px solid white;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 15px;
        transition: 0.5s;
    }
}

@media (max-width:500px){
    .bannerText h1{
        font-size: 30px !important;
    }
    .firstComp h1{
        font-size: 17px !important;
    }

}


@media (max-width:417px){
    .bannerText h1{
        font-size:25px !important;
    }
    .firstComp h1{
        font-size: 17px !important;
    }
    .firstComp{
        margin-top:     30px;
        margin-left: 20px;
        border-left: 5px solid white;
        padding-left: 10px;
    }
    .btns a{
        color: white;
        border:1px solid white;
        padding: 5px 5px;
        text-decoration: none;
        font-size: 15px;
        transition: 0.5s;
    }
    .btns{
        margin-left: 20px;
        margin-top: 20px;
    }
}
@media (max-width:406px){
    .bannerText h1{
        font-size:25px !important;
    }
    .firstComp h1{
        font-size: 15px !important;
    }
}


@media (max-width:401px){
    .bannerText h1{
        font-size:25px !important;
    }
    .firstComp h1{
        font-size: 13px !important;
    }
}
@media (max-width:353px){
    .bannerText h1{
        font-size:23px !important;
    }
    .firstComp h1{
        font-size: 20px !important;
        width: 200px;

    }
    .firstComp{
        margin-left: 5px;
        padding-left: 2px;
    }

    .btns a{
        color: white;
        border:1px solid white;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 15px;
        transition: 0.5s;
    }
}




@media (max-width:320px){
    .bannerText h1{
        font-size:23px !important;
    }

    .firstComp h1{
        font-size: 20px !important;
        width: 200px;

    }
}












/* Три блока скейл */












@media (max-width:902px){
    .oneImg, .twoImg, .threeImg{
        height: 300px !important;
        padding: 2rem !important;
    }
    
   
}


@media (max-width:1139px){
    .aboutUsMain{
        height:400px;
    }
    .aboutUsMain .title h1{
        font-size: 40px !important;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    
    .aboutUsMain .title p{
        text-align: left;
        font-size: 16px !important;
        font-weight: bold;
        margin-bottom: 1rem;
    }
}


@media (max-width:856px){
    .oneImg h4, .twoImg h4, .threeImg h4{
        text-shadow: 0px 0px 10px rgba(0,0,0,0.9) !important;
        margin-bottom:30px;
        font-size: 30px !important;
    }
    .abinline .bl{
        margin: 0 10px;
    }
    .abinline{
        flex-direction: column;
    }
    .aboutUsMain .title{
        width:100%;
        text-align: center;
    }
    .aboutUsMain .righ{
        width: 50%;
    }
    .righ a{
        padding: 20px 50px !important;
    }
}


@media (max-width:582px){
    .flexBlock a{
        padding:5px 5px;
        text-decoration: none;
        border:1px solid 
        white;
        color: white;
        transition: 0.5s;
    }
}


@media (max-width:521px){
     .flexBlock{
         flex-direction: column;
     }
     .two{
         width: 100%;
     }
     
     .three{
         width: 100%;
     }
     .righ a{
        padding: 10px 20px !important;
    }
    .oneImg h4, .twoImg h4, .threeImg h4{
        text-shadow: 0px 0px 10px rgba(0,0,0,0.9) !important;
        margin-bottom:30px;
        font-size: 20px !important;
    }
}

@media (max-width:426px){
    .righ a{
        padding: 10px 20px !important;
    }
    .aboutUsMain{
        height:450px;
    }
}

@media (max-width:360px){
    .aboutUsMain{
        height:550px;
    }
}










/* Oborudovanie */







@media (max-width:923px){
    .mashInline{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    .mashInline .imgbox{
        margin: 100px 0;
        text-align: center;
        
    }


    .imgbox{
        width:500px;
        height: 300px;

    }

    .imgbox .img img{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        
    }
}


@media (max-width:576px){
    .mashInline .imgbox{
        margin: 50px 0;
        text-align: center;
        
    }
    .imgbox{
        width:400px;
        height: 300px;

    }
}

@media (max-width:410px){
    .imgbox{
        width:300px;
        height: 300px;

    }

    .oborud h1{
        text-align: center;
        margin-top: 50px;
        font-size: 30px;
    }
    
    .mashCenter{
        width: 90%;
        margin:  auto;
        position: relative;
        margin-top:20px;
    }

    .mashInline .imgbox{
        margin: 10px 0;
        text-align: center;
        
    }
}





/* NOVOSTI */

@media (max-width:1511px)
{
    .cards{
        box-shadow: 0 5px 20px gainsboro;
        width:400px !important;
        height: 550px;
        position: relative;
        transition: 0.5s;
    }
}

@media (max-width:1733px){
    .cards{
        box-shadow: 0 5px 20px gainsboro;
        width: 300px;
        height: 550px;
        position: relative;
        transition: 0.5s;
    }
}


@media (max-width:977px){
    .cards{
        box-shadow: 0 5px 20px gainsboro;
        width: 300px !important;
        height: 550px;
        position: relative;
        transition: 0.5s;
    }
}


@media (max-width:762px){
    .inlineNews .cards{
        margin: 20px 20px;
    }
    .cards{
        box-shadow: 0 5px 20px gainsboro;
        width: 400px;
        height: 550px;
        position: relative;
        transition: 0.5s;
    }
}

@media (max-width:430px){
    .generalNew{
       flex-direction: column;
    } 
}


@media (max-width:320px){
    .news{
        margin-top: 10px;
    }

    .cards{
        box-shadow: 0 5px 20px gainsboro;
        width: 400px;
        height: 480px;
        position: relative;
        transition: 0.5s;
    }
}
