/* News top banner */
.news_top_banner{
    background: url('../../../assets/Новости/office.jpg') center / cover;
    width: 100%;
    height: 70vh;
    position: relative;
}
.news_top_banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}
.news_top_banner_content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    position: relative;
}
.news_top_banner_content h1{
    font-size: 4rem;
}


.card{
    width: 80%;
    margin: 4rem auto;
}

.card img{
    width: 70%;
}

.card h3{
    padding: 2rem !important;
}

.card p {
    width: 80%;
    margin: 2rem auto;
    letter-spacing: 1.2px;
    text-indent: 2rem;
    line-height: 1.8;
}