.banner{
    background: url('../../assets/Продукции/product.jpg') center / cover;
    width: 100%;
    position: relative;
  
    height: 80vh;
  }
  .banner::before{
    content: '';
    width: 100%;
    height: 80vh;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
  }
  .mai{
    height: 80%;
    display: flex;
    align-items: center;
  }
  .banner .mai{
    padding-left: 200px;
    color:white !important;
    position: relative;
    z-index:5 !important;
  }
  .bannerT h1{
    font-size: 70px;
  }
  .banner nav{
    z-index: 5 !important;
  }
  
  
  
  
  
  /* Меню Все модели , на стадии разработки */
  
  
  
  
  
  
  .menuCenter{
    width:462px;
    margin-top: 50px;
  }
  .cate{
    font-size: 30px;
  }
  .actDark{
    background-color: rgba(0,0,0,.9);
    color: white !important;
  }
  .actDark:hover{
    background-color: rgba(0,0,0,.8) !important;
  }
  .menuInline{
    padding-left: 0;
    margin: 0px;
    display: flex;
    list-style: none;
    justify-content: center;
  }
  .menuInline li{
    padding: 18px 0;
    border:0.2px solid gainsboro;
  
  }
  .menuInline li a{
    transition: 0.5s;
    color: black;
    text-decoration: none;
    padding: 21px 20px;
  
  }
  .menuInline li a:hover{
    transition: 0.5s;
    background-color: gainsboro;
  }
  
  
  .productCenter{
    width: 90%;
    margin-top: 50px !important;
    margin:  auto;
  }
  .productInline{
    display: flex;
    justify-content: space-between;
  }
  .productInline div{
  margin: 3px 3px;
  }
  .inlineCards{
  display: flex;
  flex-wrap: wrap;
  }
  .leftSide{
    border-right:1px solid gainsboro;
  width: 40% !important;
  }
  
  .leftSide ul{
  list-style: none;
  }
  .leftSide ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  }
  
  
  .category{
  margin-top: 50px !important;
  }
  
  
  
  
  .containerr {
  margin-top: 50px !important;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: auto;
  display: grid;
  place-items: center;
  
  }
  
  .items {
  width: 300px;
  background: #fffffe;
  box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
  
  }
  
  .items-body {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  }
  
  .items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 10fr 1fr;
   background-color: white;
  font-size: 17px;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  
  }
  .items-body-content{
  transition: .5s;
  }
  .items-body-content:hover {
  border-radius: 100px;
  background-color: rgba(0,0,0,0.7);
  transition: 0.5s;
  color: white;
  border: 1px solid gold;
  }
  
  .items-body-content i {
  align-self: center;
  font-size: 15px;
  color: gold;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
  }
  
  @keyframes icon {
  0%,100%{
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
  }
  
  
  
  .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .flex-centerY-centerX {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .box-up img{
    width: 180px;
  }
  
  .page-wrapper {
    height: 100%;
    display: table;
  }
  
  .page-wrapper .page-inner {
    display: table-cell;
    vertical-align: middle;
  }
  .rightSide{
    width: 100%;
    margin: auto;
  }
  .inlineCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .inlineCards .containers{
    margin:10px 0;
  }
  .el-wrapper {
    width:230px !important;
    padding: 15px;
    box-shadow: 0 5px 20px gainsboro;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 5px;
  }
  
  @media (max-width: 991px) {
    .el-wrapper {
      width: 345px;
    }
  }
  
  @media (max-width: 767px) {
    .el-wrapper {
      width: 290px;
      margin: 30px auto;
    }
  }
  
  .el-wrapper:hover .h-bg {
    left: 0px;
  }
  
  .el-wrapper:hover .price {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #818181;
  }
  
  .el-wrapper:hover .add-to-cart {
    left: 50%;
  }
  
  .el-wrapper:hover .img {
    webkit-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.4;
  }
  
  .el-wrapper:hover .info-inner {
    bottom: 155px;
  }
  
  .el-wrapper:hover .a-size {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 50px;
    opacity: 1;
  }
  
  .el-wrapper .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
  }
  
  .el-wrapper .box-up {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  
  .el-wrapper .img {
    padding: 20px 0;
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
  }
  
  .h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 660px;
    height: 100%;
    background-color: lightblue;
    position: absolute;
    left: -659px;
  }
  
  .h-bg .h-bg-inner {
    width: 50%;
    height: 100%;
    background-color: #464646;
  }
  
  .info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 25px;
  }
  
  .info-inner .p-name,
  .info-inner .p-company {
    display: block;
  }
  
  .info-inner .p-name {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #252525;
  }
  
  .info-inner .p-company {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #8c8c8c;
  }
  
  .a-size {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -20px;
    font-family: 'PT Sans', sans-serif;
    color: #828282;
    opacity: 0;
  }
  
  .a-size .size {
    color: #252525;
  }
  
  .cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  
  .cart .price {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #252525;
  }
  
  .cart .add-to-cart {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .cart .add-to-cart .txt {
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  
  
  
  
  
  
  
  
  
  
  /* АВТОРИЗАЦИЯ */
  
  
  
  
  
  
  .center{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    height: 100vh;
    }
  
  .contBack{
    background: url('../../assets/Продукции/porductAuth.jpg') left / cover;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .contBack::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  .login-box {
    width:600px;
    height: 450px;
    padding: 40px;
    position: relative;
    border-radius: 10px;
  }
  .login-box::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;  
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.5);
  }
  .login-box h2 {
    position: relative;
    margin: 0px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom:15px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom:15px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 16px;
  }
  
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 5px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;

  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  /* @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
   */
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
/*   
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
   */
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  /* @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
   */
  
  
  
  /* ПАГИНАЦИЯ */
  
  
  
  
  
  
  
  
  .containerss {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
  
  }
  .containerss .title {
    font-size: 50px;
    font-weight: 600;
  }
  .containerss p {
    font-size: 19px;
  }
  .pagination {
    margin: 25px 0 15px 0;
  }
  .pagination,
  .pagination li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .pagination li {
    background: white;
    list-style: none;
  }
  .pagination li a {
    text-decoration: none;
    color: black;
    height: 50px;
    width: 50px;
    font-size: 18px;
    padding-top: 1px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-right-width: 0px;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
  }
  .pagination li:last-child a {
    border-right-width: 1px;
  }
  .pagination li a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-top-color: rgba(0, 0, 0, 0.35);
    border-bottom-color: rgba(0, 0, 0, 0.5);
  }
  .pagination li a:focus,
  .pagination li a:active {
    padding-top: 4px;
    border-left-width: 1px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
  }
  .pagination li.icon a {
    min-width: 120px;
    background: rgba(0,0,0,.8);
    color: white;
  }
  .pagination li:first-child span {
    padding-right: 8px;
  }
  .pagination li:last-child span {
    padding-left: 8px;
  }
  
  
  
  
  
  
  
  
  
  
  /* Media */

  /* PRODUCTS */



@media (max-width:2000px){
    .el-wrapper {
      width:330px !important;
      height: 400px;
      padding: 15px;
      box-shadow: 0 5px 20px gainsboro;
      margin: 0px auto;
      background-color: #fff; 
      border-radius: 5px;
    }
    .inlineCards{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
    }
  }
  
  
  @media (max-width:1469px){
    .el-wrapper {
      width:250px !important;
      height: 400px;
      padding: 15px;
      box-shadow: 0 5px 20px gainsboro;
      margin: 0px auto;
      background-color: #fff; 
      border-radius: 5px;
    }
  }
  
  @media (max-width:1395px){
    .el-wrapper {
      width:250px !important;
      height: 400px;
      padding: 15px;
      box-shadow: 0 5px 20px gainsboro;
      margin: 0px auto;
      background-color: #fff; 
      border-radius: 5px;
    }
  }
  
  @media (max-width:1232px)
  {
    .el-wrapper {
      width:200px !important;
      height: 400px;
      padding: 15px;
      box-shadow: 0 5px 20px gainsboro;
      margin: 0px auto;
      background-color: #fff; 
      border-radius: 5px;
    }
  }
  
  
  @media (max-width:793px){
    .el-wrapper {
      width:230px !important;
      height: 400px;
      padding: 15px;
      box-shadow: 0 5px 20px gainsboro;
      margin: 0px auto;
      background-color: #fff;
      border-radius: 5px;
    }
  }
  
  
  @media (max-width:531px){
    .productInline{
      flex-direction: column;
    }
    .accordion-flush{
      width: 480px;
    }
  
  
    .leftSide{
      border-right:0px solid gainsboro;
    width: 40% !important;
    }
  
    .contBack{
      width: 100%;
    }
  
  .el-wrapper {
    width:200px !important;
    height: 400px;
    padding: 15px;
    box-shadow: 0 5px 20px gainsboro;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 5px;
  }
  
  }
  
  
  
  
  
  
  @media (max-width:513px){
    .accordion-flush{
      width: 450px;
    }
  
  }
  
  
  
  
  
  
  
  
  @media (max-width:485px){
    .accordion-flush{
      width: 380px;
    }
  
    .inlineCards{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  
  
  
    .menuInline{
      padding-left: 0;
      margin: 0px;
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: center;
    }
    .menuInline li{
      border:0.2px solid gainsboro;
      
    }
  
    .menuCenter{
      width:100%;
      margin-top: 50px;
    
    }
    .menuInline li:nth-child(1){
      background-color: rgba(0,0,0,.9);
      color: white !important;
    }
    .actDark a{
      color: white !important;
    }
    .actDark{
      background: none;
    }
  }
  
  
  
  
  
  
  @media (max-width:471px){
   
    .el-wrapper {
      width: 400px !important;
      padding: 15px;
      box-shadow: 0 5px 20px gainsboro;
      margin: 0px auto;
      background-color: #fff;
      border-radius: 5px;
    }
  }
  
  
  @media (max-width:420px){
    .el-wrapper {
      width: 330px !important;
      padding: 15px;
      box-shadow: 0 5px 20px gainsboro;
      margin: 0px auto;
      background-color: #fff;
      border-radius: 5px;
    }
  }
  
  @media (max-width:395px){
    .pagination li a {
      text-decoration: none;
      color: black;
      height: 30px;
      width:30px;
      font-size: 18px;
      padding-top: 1px;
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-right-width: 0px;
      box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
    }
  }
  
  
  
  @media (max-width:374px)
  { 
    .containerss {
      background: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 10px;
    
    }
  }
  
  
  @media (max-width:329px){
    .containerss {
      background: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5px 5px;
    
    }
  }
  
  
  
  
  @media (max-width:353px){
    .el-wrapper {
      width: 270px !important;
      padding: 15px;
      box-shadow: 0 5px 20px gainsboro;
      margin: 0px auto;
      background-color: #fff;
      border-radius: 5px;
    }
  }
  
  
  @media (max-width:410px){
    .accordion-flush{
      width: 350px;
    }
  }
  
  
  
  
  
  
  @media (max-width:378px){
    .accordion-flush{
      width: 330px;
    }
  }
  
  
  
  
  
  @media (max-width:356px){
    .accordion-flush{
      width: 300px;
    }
  }
  
  
  
@media (max-width:325px){
    .accordion-flush{
      width: 270px;
    }
}  